/*----------------
     >BUTTONS
----------------*/
.btn_custom {
    border-radius: 30px;
    background-color: #363636;
    color: white;
}

/*----------------
     COMMONS
----------------*/

.header-top {
    background-color: black;
}

.header-top img {
    max-width: 80px;
    background-color: black;
}

.navbar {
    background-color: white;
}